*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-image: url(lib\ book\ back.jpg); */
   color: white;
}
h1{
    color: black;
    text-align: center;
   

    
}
a{
    text-decoration: none;
    color: blanchedalmond;
}

a:active{
    color:rgb(241, 239, 239);
}
.con{
    width: 1000px;
    height: 900px;
    padding: 10px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  
   
}
.table-striped{
    background-color: brown;

}
.table-hover{
    background-color:brown;
}